{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Clientes</title>
</head>
<body>
    <header>
        <nav>
            <a href={% url 'index' %}>Inicio</a>
            <a href={% url 'productos' %}>Productos</a>
            <a href={% url 'sucursales' %}>Sucursales</a>
            <a href={% url 'empleado' %}>Empleados</a>
            <a href={% url 'clientes' %}>Clientes</a>
            <a href={% url 'contacto' %}>Contacto</a>
        </nav>
    </header>
    
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Clientes</h1>
                <h2>Muebleria don Ontiveros</h2>
                <p>Empresas con las que trabajamos</p>
            </div>
        </section>

        <section class="contenedor-cliente">
            {% for c in clientes %} 
                <article class="tarjetas-cliente">
                    <h2>{{c.nombre}}</h2>
                    <section class="contenido">
                        <article class="texto">
                            <p>{{c.descripcion}}</p>
                            <p>Teléfono: {{c.telefono}}</p>
                            <p>Dirección: {{c.direccion}}</p>
                        </article>
                        <article>
                            <img src="{{c.logo}}" alt="Logo del cliente">
                        </article>

                    </section>
                </article>
            {% endfor %}
        </section>

    </main>
    <footer id="pie">
        <article>
            <h4>Nos ubicamos en:</h4>
            <p>Pedro de Alba S/N, Niños Héroes, Ciudad Universitaria, 66455 San Nicolás de los Garza, N.L.</p>
        </article>
        <h4>Colaboradores:</h4>
        <p>Alan, Janetzy, Jonathan, Aliskei, Adrián y Sol</p>
    </footer>
</body>
</html>