{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav>
            <a href={% url 'index' %}>Inicio</a>
            <a href={% url 'productos' %}>Productos</a>
            <a href={% url 'sucursales' %}>Sucursales</a>
            <a href={% url 'empleado' %}>Empleados</a>
            <a href={% url 'clientes' %}>Clientes</a>
            <a href={% url 'contacto' %}>Contacto</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Empleados</h1>
                <h2>Muebleria don Ontiveros</h2>
            </div>
        </section>

        <section id="contenedor-empleados" class="contenedor">
            <article class="formulario-sucursal">
                <form method="get">
                    <label for="sucursal">Buscar por sucursal:</label>
                    <select name="sucursal" id="sucursal">
                        <option value="">-- Selecciona una sucursal --</option>
                        {% for s in sucursales %}
                            <option value="{{ s.id }}"
                                {% if s.id == sucursal_seleccionada %}
                                    selected
                                {% endif %}>{{ s.descripcion }}
                            </option>
                        {% endfor %}
                    </select>
                    <button id="boton-form" type="submit">Buscar</button>
                </form>
            </article>

            <article class="nombre-sucursal">
                {% for s in sucursales %}
                    {% if s.id == sucursal_seleccionada %}
                        <h2>{{ s.descripcion }}</h2>
                    {% endif %}
                {% endfor %}
            </article>

            <article class="tarjetas-empleados">
                {% if empleado %}
                    {% for e in empleado %}
                        <article class="tarjetas">
                            <h2>{{ e.departamento }}</h2>
                            <article class="contenido">
                                <p><strong>Nombre:</strong> {{ e.nombre }}</p>
                                <p><strong>Teléfono:</strong> {{ e.telefono }}</p>
                                <p><strong>Proyectos:</strong> {{ e.proyectos }}</p>
                                <p><strong>Antigüedad:</strong> {{ e.antiguedad }}</p>
                            </article>
                        </article>
                    {% endfor %}
                {% else %}
                        <h2>No hay empleados registrados</h2>
                        <p>En este momento contamos con vacantes nuestra sucursal.</p>
                        <p>Dirijete a la sección de contacto para una mejor comunicacion e información</p>
                {% endif %}
            </article>
        </section>
    </main>

    <footer id="pie">
        <article>
            <h4>Nos ubicamos en:</h4>
            <p>Pedro de Alba S/N, Niños Héroes, Ciudad Universitaria, 66455 San Nicolás de los Garza, N.L.</p>
        </article>
        <h4>Colaboradores:</h4>
        <p>Alan, Janetzy, Jonathan, Aliskei, Adrián y Sol</p>
    </footer>
</body>
</html>