{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Inicio</title>
</head>
<body>
    <header>
        <h1>Muebleria don Ontiveros</h1>
        <nav>
            <a href={% url 'index' %}>Inicio</a>
            <a href={% url 'productos' %}>Productos</a>
            <a href={% url 'sucursales' %}>Sucursales</a>
            <a href={% url 'empleado' %}>Empleados</a>
            <a href={% url 'clientes' %}>Clientes</a>
        </nav>
    </header>
    
    <main>
        <section class="contenedor2">
            <article class="tarjetas-2">
                <h1>¿Quienes somos?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, blanditiis doloremque expedita fugiat voluptas laborum quidem nemo eius iusto dolore pariatur, distinctio minus nihil placeat? Quibusdam fugiat, magni quam explicabo qui atque minima ratione laboriosam labore, nam ducimus enim totam harum aperiam! Nulla eum illum consequuntur modi repellat, debitis itaque, accusamus exercitationem doloribus neque eos delectus dicta rem commodi! Vitae!</p>
            </article>
            <article class="tarjetas-2">
                <h1>¿Que hacemos?</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, blanditiis doloremque expedita fugiat voluptas laborum quidem nemo eius iusto dolore pariatur, distinctio minus nihil placeat? Quibusdam fugiat, magni quam explicabo qui atque minima ratione laboriosam labore, nam ducimus enim totam harum aperiam! Nulla eum illum consequuntur modi repellat, debitis itaque, accusamus exercitationem doloribus neque eos delectus dicta rem commodi! Vitae!</p>
            </article>
            <article class="tarjetas-2">
                <h1>Mision</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, blanditiis doloremque expedita fugiat voluptas laborum quidem nemo eius iusto dolore pariatur, distinctio minus nihil placeat? Quibusdam fugiat, magni quam explicabo qui atque minima ratione laboriosam labore, nam ducimus enim totam harum aperiam! Nulla eum illum consequuntur modi repellat, debitis itaque, accusamus exercitationem doloribus neque eos delectus dicta rem commodi! Vitae!</p>
            </article>
            <article class="tarjetas-2">
                <h1>Vision</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, blanditiis doloremque expedita fugiat voluptas laborum quidem nemo eius iusto dolore pariatur, distinctio minus nihil placeat? Quibusdam fugiat, magni quam explicabo qui atque minima ratione laboriosam labore, nam ducimus enim totam harum aperiam! Nulla eum illum consequuntur modi repellat, debitis itaque, accusamus exercitationem doloribus neque eos delectus dicta rem commodi! Vitae!</p>
            </article>
        </section>

    </main>
        <footer id="pie">
        <article>
            <a href="mailto:ajosue450@gmail.com">ajosue450@gmail.com</a>
            <a href="mailto:ajosue450@gmail.com">ontiveros@gmail.com</a>
        </article>
        <p>Pagina creada por Alan y Adrian</p>
    </footer>
</body>
</html>