{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Inicio</title>
</head>
<body>
    <header>
        <nav>
            <a href={% url 'index' %}>Inicio</a>
            <a href={% url 'productos' %}>Productos</a>
            <a href={% url 'sucursales' %}>Sucursales</a>
            <a href={% url 'empleado' %}>Empleados</a>
            <a href={% url 'clientes' %}>Clientes</a>
            <a href={% url 'contacto' %}>Contacto</a>
        </nav>
    </header>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h2>Bienvenidos a</h2>
                <h1>Mueblería Don Ontiveros</h1>
                <p>Articulos de oficina para espacios únicos y acogedores</p>
            </div>
        </section>

        <section class="contenedor2">
            <article class="tarjetas-2" style="background-color: #EBE5C2; padding: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin: 40px auto; max-width: 95%; display: flex; align-items: center; justify-content: space-between;">
                <div style="width: 60%;">
                    <h1 style="font-size: 2.5rem; color: #504B38; margin-bottom: 20px; text-align: left;">¿Quiénes somos?</h1>
                    <p style="font-size: 1.1rem; color: #333; line-height: 1.8; text-align: left;">En Muebleria don Ontiveros, somos artesanos apasionados por la creación de espacios únicos y acogedores. Desde nuestra fundación en el corazón de Nuevo León, hemos combinado técnicas tradicionales con diseños innovadores para ofrecer muebles que no solo amueblan, sino que también cuentan historias. Cada pieza que sale de nuestro taller es el resultado de la dedicación de nuestros expertos, quienes seleccionan cuidadosamente cada material para garantizar la calidad y durabilidad que nuestros clientes merecen. Creemos en la belleza de lo hecho a mano y en el valor de crear hogares llenos de personalidad.</p>
                </div>
                <div style="width: 35%;">
                    <img src="{% static 'css/img/vista1.jpg' %}" alt="Imagen de Quienes Somos" style="width: 100%; height: auto; border-radius: 5px;">
                </div>
            </article>
            <article class="tarjetas-2" style="background-color: #EBE5C2; padding: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin: 40px auto; max-width: 95%; display: flex; align-items: center; justify-content: space-between;">
                <div style="width: 60%;">
                    <h1 style="font-size: 2.5rem; color: #504B38; margin-bottom: 20px; text-align: left;">¿Qué hacemos?</h1>
                    <p style="font-size: 1.1rem; color: #333; line-height: 1.8; text-align: left;">Nos especializamos en la fabricación de muebles a medida y de diseño exclusivo para cada rincón de tu hogar. Ya sea que busques la calidez de una mesa de comedor de madera maciza, la comodidad de un sofá tapizado a tu gusto o la funcionalidad de soluciones de almacenamiento inteligentes, en Muebleria don Ontiveros hacemos tus ideas realidad. Trabajamos de cerca contigo, desde la concepción inicial hasta la instalación final, para asegurar que cada detalle refleje tu estilo y satisfaga tus necesidades. Además, nos comprometemos con prácticas sostenibles, utilizando materiales de origen responsable y procesos que minimizan nuestro impacto ambiental.</p>
                </div>
                <div style="width: 35%;">
                    <img src="{% static 'css/img/vista2.jpg' %}" alt="Imagen de Quienes Somos" style="width: 100%; height: auto; border-radius: 5px;">
                </div>
            </article>
            <article class="tarjetas-2" style="background-color: #EBE5C2; padding: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin: 40px auto; max-width: 95%;">
                <div>
                    <h1 style="font-size: 2.5rem; color: #504B38; margin-bottom: 20px; text-align: center;">Misión</h1>
                    <p style="font-size: 1.1rem; color: #333; line-height: 1.8; text-align: center;">"Nuestra misión es transformar espacios a través de la creación de muebles de alta calidad, diseño excepcional y durabilidad incomparable. Buscamos superar las expectativas de nuestros clientes, ofreciendo soluciones personalizadas que aporten belleza, funcionalidad y confort a sus vidas. Nos esforzamos por mantener viva la tradición artesanal, adaptándola a las tendencias contemporáneas y fomentando un compromiso con la sostenibilidad en cada etapa de nuestro proceso productivo."</p>
                </div>
            </article>
            <article class="tarjetas-2" style="background-color: #EBE5C2; padding: 30px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin: 40px auto; max-width: 95%;">
                <div>
                    <h1 style="font-size: 2.5rem; color: #504B38; margin-bottom: 20px; text-align: center;">Visión</h1>
                    <p style="font-size: 1.1rem; color: #333; line-height: 1.8; text-align: center;">"Aspiramos a ser la empresa líder en la fabricación de muebles a medida en México, reconocida por nuestra excelencia en diseño, la calidad de nuestros materiales y nuestro compromiso con la satisfacción del cliente. Queremos expandir nuestra presencia, manteniendo siempre nuestra esencia artesanal y nuestro enfoque en la creación de piezas únicas que inspiren y perduren en el tiempo. Visualizamos un futuro donde cada hogar refleje la individualidad de sus habitantes a través de muebles hechos con pasión y dedicación."</p>
                </div>
            </article>
        </section>
    </main>

    <footer id="pie">
        <article>
            <h4>Nos ubicamos en:</h4>
            <p>Pedro de Alba S/N, Niños Héroes, Ciudad Universitaria, 66455 San Nicolás de los Garza, N.L.</p>
        </article>
        <h4>Colaboradores:</h4>
        <p>Alan, Adrian, Aliskei, Sol, Janetzy y Jonathan</p>
    </footer>
</body>
</html>