{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Productos</title>
</head>
<body>
    <header>
        <nav>
            <a href={% url 'index' %}>Inicio</a>
            <a href={% url 'productos' %}>Productos</a>
            <a href={% url 'sucursales' %}>Sucursales</a>
            <a href={% url 'empleado' %}>Empleados</a>
            <a href={% url 'clientes' %}>Clientes</a>
            <a href={% url 'contacto' %}>Contacto</a>
        </nav>
    </header>
    
    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Productos</h1>
                <h2>Muebleria don Ontiveros</h2>
            </div>
        </section>

        <section class="contenedor">
            {% for p in productos %} 
                <article class="tarjetas">
                    <h2>{{p.descripcion}}</h2>
                    <article class="contenido">
                        <p>Tipo: {{p.tipo}}</p>
                        <p>Material: {{p.material}}</p>
                        <img src="{{p.imagen}}" alt="Imagen del producto">
                        <p>Precio: {{p.precio}}$</p>
                    </article>
                </article>
            {% endfor %}
        </section>
    </main>
    <footer id="pie">
        <article>
            <h4>Nos ubicamos en:</h4>
            <p>Pedro de Alba S/N, Niños Héroes, Ciudad Universitaria, 66455 San Nicolás de los Garza, N.L.</p>
        </article>
        <h4>Colaboradores:</h4>
        <p>Alan, Adrian, Aliskei, Sol, Janetzy y Jonathan</p>
    </footer>
</body>
</html>